{% extends 'base.html' %}

{% load menu_tags %}

{% block content %}
<ul>
    {% for item in menu_items %}
        <li class="{% is_active item.url current_path %}">
            <a href="{% if item.named_url %}{% url item.url %}{% else %}{{ item.url }}{% endif %}">{{ item.title }}</a>
            {% if item.children.exists %}
                {% if item.expanded %}
                    {% with children=item.children.all %}
                        {% include 'menu_app/menu_template.html' %}
                    {% endwith %}
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}